#app {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    line-height: 140%;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $fontInter;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1210px;
    padding: 0 15px;
    margin: 0 auto;
    min-height: 100vh;
}