// Colors
$color-white: #FFFFFF;
$color-white-light: #F6F6F6;
$color-dark: #333333;
$color-gray: #9C9C9C;
$color-gray-dark: #111827;
$color-gray-light: #6B7280;
$color-blue: #007AFF;
$color-iris: #5D5FEF;
$color-fuschia: #EF5DA8;

// Breakpoints
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;

// Fonts
$fontInter: 'Inter', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;